<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | Rayquaza</title>
    <link rel="shortcut icon" href="../img/rayquaza.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1 style="text-align: center;">Rayquaza</h1>
    <img src="../img/rayquaza.png" alt="Imagen de Rayquaza" width="400" height="400">
    <p>Tipo: <span style="background-color: mediumorchid; padding: 2px; border-radius: 5px;">Volador</span> <span style="background-color: blueviolet; border-radius: 5px;padding: 2px;">Dragon</span></p>
</body>

</html>